p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Flex container */
.flex-container {
  display: flex;
}

/* Flex items */
.flex-item {
  flex: 1;
}

/* Adjust padding between items */
.flex-item + .flex-item {
  margin-left: 20px; /* Adjust as needed */
}

.header-photo {
  background-image: url('images/header-photo.jpg'); /* Replace 'path/to/header-photo.jpg' with the path to your photo */
  background-size: cover;
  background-position: top;
  height: 200px; /* Adjust the height as needed */
  width: 100%;
}
