p.caption {
  color: #777;
  margin-top: 10px;
}
p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

/* Flex container */
.flex-container {
  display: flex;
}

/* Flex items */
.flex-item {
  flex: 1;
}

/* Adjust padding between items */
.flex-item + .flex-item {
  margin-left: 20px; /* Adjust as needed */
}
